* div {
    display: flex;
}

#button-div, #container, .row {
    width: 54rem;
}

#container {
    flex-wrap: wrap;
    background-color: #e9e7e4;
    padding: 2px;
    gap: 1px;
}

#container div {
    flex-grow: 1;
    gap: 1px;
}

#container .element {
    border: 2px, solid, #120055;
    aspect-ratio: 1/1;
}

#button-div {
    justify-content: center;
    margin-bottom: 10px;
}

button {
    background-color: #3882f6;
    border: 1px solid royalblue;
    border-radius: 8px;
    color: #f9faf8;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    aspect-ratio: 16/9;
}
